.boardAndRows{
    display: flex;
    width: 750px;
    height: 638px;
    margin: auto;
}

ul{
    position: absolute;
}

li{
    line-height: 76px;
}

.buttons{
    text-align: center;
    margin: auto;
}

div.chessBoardMain {
    width: 600px;
    height: 600px;
    border: 5px solid #000;
    margin: auto;
    margin-top: 2%;
    line-height: 0px;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.55);
}

.columns{
    width: 600px;
    height: 50px;
    margin: auto;
    display: flex;
    text-align: center;
}

.letters{
    margin-top: 10px;
    width: 100px;
}

div.chessSquare {
    width: 75px;
    height: 75px;
    display: inline-block;
}

.hovered{
    box-shadow: inset 0 0 20px #f8a100;
}

div.chessSquare:hover{
    box-shadow: inset 0 0 20px #f8a100;
}

div.whitePiece{
    position: relative;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.whitePiece:hover{
    cursor: grab
}

div.blackPiece{
    position: relative;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.blackPiece:hover{
    cursor: grab
}

/* White Pieces */

#pawn1, #pawn2, #pawn3, #pawn4, #pawn5, #pawn6, #pawn7, #pawn8{
    background: url(../pictures/whitePieces/whitePawn.png);
}

#rook9, #rook16{
	background: url(../pictures/whitePieces/whiteRook.png);
}

#bishop11, #bishop14{
    background: url(../pictures/whitePieces/whiteBishop.png);
}

#knight10, #knight15{
    background: url(../pictures/whitePieces/whiteKnight.png);
}

#kingWhite{
    background: url(../pictures/whitePieces/whiteKing.png);
}

#queenWhite{
    background: url(../pictures/whitePieces/whiteQueen.png);
}

/* Black Pieces */

#pawn9, #pawn10, #pawn11, #pawn12, #pawn13, #pawn14, #pawn15, #pawn16{
    background: url(../pictures/blackPieces/blackPawn.png);
}

#rook1, #rook8{
    background: url(../pictures/blackPieces/blackRook.png);
}

#knight2, #knight7{
    background: url(../pictures/blackPieces/blackKnight.png);
}

#bishop3, #bishop6{
    background: url(../pictures/blackPieces/blackBishop.png);
}

#kingBlack{
    background: url(../pictures/blackPieces/blackKing.png);
}

#queenBlack{
    background: url(../pictures/blackPieces/blackQueen.png);
}

.hold{
    background: url(../pictures/whitePieces/whiteRook.png);
}